@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;

 /* font-family: 'Montserrat', sans-serif;
   padding: 0;*/
}
body{

  /*background: #fec107;*/
   background-image: url("https://image.freepik.com/free-photo/man-uniform-crossing-hands-with-spanners_23-2147897802.jpg" );
  background-size: cover;
  background-position: center;
  padding: 0 10px;
  max-height: unset;
}
/*.wrapper .image{
  width: 100%;
  height: auto;
}*/
.wrapper{
  max-width: 600px;
  /*width: 100%;*/
  background: rgba(0, 0, 0, 0.50);
  margin: 50px auto;
  box-shadow:  0px 11px 20px 3px #000;
  padding: 30px;
}
.customer{
  width: 100px;
  height: 10px;
}
.wrapper .title{
  font-size: 30px;
  font-weight: ;
  margin-bottom: 25px;
  color: #fec107;
  font-family: cursive;
  text-transform: uppercase;
  text-shadow: 4px 5px 7px #0e0d0d;
  text-align: center;
}
.wrapper .form .inputfield .upload-box{
  font-size: 13px;
  background:white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 250px;
  outline: none;
}
::-webkit-file-upload-button{
  color: white;
  background: #fec105;
  padding: 7px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0 1px #6b4559;
  outline: none;
}
::-webkit-file-upload-button:hover{
  background-color: #ffd658;
}
.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #fcfafa;
   margin-right: 10px;
   font-family: cursive;
   font-style: oblique;
   font-weight: bolder;
  font-size: 15px;
  text-shadow: 5px 4px 2px #000000;

}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 53px;
  box-shadow: 7px 5px 10px #4a4444;
  outline: none;
}
.wrapper .form .inputfield .click{
  width: 100%;
   padding: 0;
  font-size: 15px;
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
  list-style-type: none;
  box-shadow: 7px 5px 10px #111111;
}
.wrapper .form .inputfield .click:hover{
background: #ffd658;

}
.wrapper a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.75rem;
  font-family: cursive;
}
/*.wrapper .form .link{
  width: 535px;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  appearance: push-button;
  position: initial;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
 }
.wrapper .form .link a{
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  appearance: push-button;
 
 width: 100%;
 position: relative;
 padding: 8px 10px;
 font-size: 15px;
 border: 0px;
 background:  #fec107;
 color: #fff;
 cursor: pointer;
 border-radius: 3px;
 outline: none;
}*/
button{
  appearance: none;
  color: #fec107;
}

.wrapper .form .inputfield .btn:hover{
  background: #ffd658;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}


@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}
